---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page not found">
  <div class="error">
    <h1>404</h1>
    <p>page not found</p>
  </div>
</Layout>

<style>
.error {
  text-align: center;
}
</style>