---
import ExternalLink from "../components/ExternalLink.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="contact">
  <h1>contact</h1>
  <p>
    you can contact me using bluesky social: <ExternalLink
      to="bsky.app/profile/nitrrine.bsky.social"
    >
      nitrrine.bsky.social
    </ExternalLink>
  </p>
  <p>
    why not email? simple anwer - i don't have an email server, long answer -
    it's just easier to make converstation using some social instead of sending
    letters through email.
  </p>
</Layout>
