---
import ProjectCard from "../components/ProjectCard.astro"
import Layout from "../layouts/Layout.astro"

let pageTitle = "projects"
let pageDescription = "things that i'm currently working on."
---

<Layout title={pageTitle} desc={pageDescription}>
  <h1>{pageTitle}</h1>
  <p>{pageDescription}</p>
  <div class="projects">
    <ProjectCard
      name="stopmalwarecontent"
      desc="extension that alerts user when they attempt to visit harmful or unwanted web sites."
      links="github:github.com/StopMalwareContent/Extension;website:stopmalwarecontent.lodine.xyz"
    />
    <ProjectCard
      name="notessential"
      desc="website linking to mods that can substitute Essential's features."
      links="github:github.com/blryface/notessential;website:notessential.blurry.gay"
    />
    <ProjectCard
      name="have i been scraped by spy.pet?"
      desc="simple tool made for normal users & discord server administrators to check if there's a scraper bot on your discord server."
      links="github:github.com/Nitrrine/have-i-been-scraped-by-spy-pet;website:nitrrine.github.io/have-i-been-scraped-by-spy-pet"
    />
  </div>
</Layout>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
  }
</style>
