---
import ProjectCard from "../components/ProjectCard.astro"
import Layout from "../layouts/Layout.astro"

let pageTitle = "scripts"
let pageDescription =
  "scripts that i've written using bash for personal use, but opened for public."
---

<Layout title={pageTitle} desc={pageDescription}>
  <h1>{pageTitle}</h1>
  <p>{pageDescription}</p>
  <div class="scripts">
    <ProjectCard
      name="change volume"
      desc="increment, decrement or mute the volume using pulseaudio and send a notification."
      links="gist:gist.github.com/Nitrrine/b5fb7de59946ef08e2d4f4196e7d1cbf"
    />
  </div>
</Layout>

<style>
  .scripts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
  }
</style>
