---
import "../styles/fonts.css"
import ExternalLink from "../components/ExternalLink.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} - nitrrine` : "nitrrine"}</title>
    <meta name="theme-color" content="#f4b8e4" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <div class="inner">
        <div class="left">
          <a href="/">nitrrine</a>
        </div>
        <div class="right">
          <a href="/">home</a>
          <a href="/projects">projects</a>
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        the contents of this page are protected under <ExternalLink
          to="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY-NC-SA 4.0 license</ExternalLink
        >.
      </p>
      <p>
        all logos used on this site are the property of their respective owners.
      </p>
    </footer>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --pink: #f4b8e4;
    --blue: #8caaee;
    --lavender: #babbf1;
    --text: #c6d0f5;
    --base: #303446;
    --mantle: #292c3c;
    --crust: #232634;
  }

  * {
    box-sizing: border-box;

    &::selection {
      color: var(--crust);
      background: var(--blue);
    }
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono";
    height: 100dvh;
    margin: 0;
    padding: 0;
    background: var(--base);
    color: var(--text);
    font-size: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 0 0 0.3em 0;
  }

  a {
    color: var(--blue);
  }

  details {
    summary {
      cursor: pointer;
      user-select: none;
      padding: 0.3em 0;
    }
  }

  main {
    flex: 1 1 auto;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 1em;
  }

  nav,
  footer {
    background: var(--mantle);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    height: 64px;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 900px;
      width: 100%;
      padding: 0 1em;

      .left a {
        color: var(--pink);
        text-decoration: none;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
  }
</style>
