---
import "../styles/fonts.scss"
import "../styles/global.scss"
import ExternalLink from "../components/ExternalLink.astro"

const { title, desc } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {title ? `${title} - nitrrine` : "nitrrine"}
    </title>
    <meta name="description" content={desc} />
    <meta name="theme-color" content="#f4b8e4" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <div class="inner">
        <div class="left">
          <a href="/">nitrrine</a>
        </div>
        <div class="right">
          <a href="/">home</a>
          <a href="/projects">projects</a>
          <a href="/scripts">scripts</a>
          <a href="/contact">contact</a>
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        contents of this website are protected under <ExternalLink
          to="creativecommons.org/licenses/by-sa/4.0/"
          >CC BY-SA 4.0 license</ExternalLink
        >.
      </p>
      <p>
        made with love, built with astro. view the source code <ExternalLink
          to="github.com/Nitrrine/nitrrine.github.io">on github</ExternalLink
        >.
      </p>
    </footer>
  </body>
</html>
